@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200&family=Roboto:wght@100&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/


header{
    background-color: lightgrey;
    color: red;
    height: 250px;
    text-align: center;
    text-shadow: 0 0 5px #000, 0 0 5px #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 5px;
    background-image: url(img/imagen0.jpg);
    background-size: cover;
    background-position: center;
}
header span:hover{
    color: blue;
    text-shadow: 0 0 5px #f4f3f5c7;
    }
header h2 {
    text-align: center;
}
header a href{
    text-align: left;
}

/**********************************************/

main{
    background-image: url(img/imagen1.jpg);
    background-size: cover;
    background-position: center;
    background-color: darkgray;
    color: blue;
    text-shadow: #fff;
    height: 350px;
    border: 5px solid #000
}
aside{
    background-color: darkgreen;
    height: 350px;
    border: 5px solid #000
}
article{
    background-color: darkgrey;
    border: 5px solid #000;
    height: 200px;
}
footer{
    height: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    }
footer p{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    }
    
footer a{
    color: none;
    font-size: 30px;
    letter-spacing: 15px;
    }
